<!doctype html>
<html lang="en">
<head>
    <title>ISP</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ISP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('camera') }}">Camera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('analysis') }}">Analysis</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-5">
    <h1>ISP</h1>

    <p>
        Made for <a href="https://www.cs.upc.edu/~miquel/isp/isp.html">ISP</a> course.
    </p>

    <p>
        Our project is a multi-use software tool, which can be applied in a quantity of situations. We supply our
        clients with the service of visual based human profiling. Given by an image or a stream of images (video)
        information about the acting persons is given. The extracted data is the target person's gender, age, mood, and
        possible value for a certain business
    </p>

    <h2>Contributors</h2>

    <ul>
        <li>DIERS Erik</li>
        <li>CHYLAK Maciej</li>
        <li>SZOSTKIEWICZ Max</li>
        <li>VALERO Juan</li>
    </ul>

    <h2>Source code</h2>

    <p>
        The source code is publicly available on <a href="https://github.com/DarkErik/ISP/tree/main">GitHub</a>.
    </p>
</div>
</body>
</html>
